<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>607078203295-u9h080vno5stqm2p4ujh1n6ouq4bke6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.607078203295-u9h080vno5stqm2p4ujh1n6ouq4bke6b</string>
	<key>API_KEY</key>
	<string>AIzaSyBFxWn9fOEW8TzOR14UONEL4RrA19PeaJU</string>
	<key>GCM_SENDER_ID</key>
	<string>607078203295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterChatUi</string>
	<key>PROJECT_ID</key>
	<string>flutterchatui-1c462</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchatui-1c462.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:607078203295:ios:a241965a10f16cb028c7aa</string>
</dict>
</plist>